/*
 * @Author:loserjohn
 * @Date:2022-04-01 12:08:02
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-11 14:24:34
 * @Description:---
 * @FilePath     : \vite_v3\src\styles\common.scss
 */

:root {
  --guo: #FF5B43;
  --shen: #FFA743;
  --shi: #53DC95;
  --qu: #5686EA;
  
  --primary:#0070FF;
  --mainWidh :1200px
  
}

html{
  font-size: 16px;
}
 

body {
  height: 100%; 
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(247, 247, 247);
  color: #333333;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_y {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f1 {
  flex: 1;
}
 
 

.pages {
  width: 100%;
  overflow: hidden;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.cm_container{
  width: 100%;
   max-width: var(--mainWidh);
  margin:  0 auto ;
  //  background-color: #f1f1f1;
}
 



// ele 样式覆盖

.el-carousel__button{
  width: 60px;
  height: 8px;
  background: #fff;
  opacity: .4;
  transform: skewX(-15deg); 
}
.is-active{
  .el-carousel__button{
    opacity: 1;
    background-color: var(--primary);
  }
 
}
.el-carousel__mask{
  background: none;
}



// *********************** 移动相应  **************************

@media screen and (max-width: 960px){
  html{
    font-size: 8px; /*no*/   
  } 
  
  .el-carousel__indicators--horizontal {
    bottom: 60px;
    left: 12%;
    transform:  translateX(-50%)  ;
  }
  .el-carousel__button{
    width: 37px!important;
  }
  
}
 
@media screen and ( min-width:960px) and (max-width: 1260px){
    html{
      font-size: 12px; /*no*/   
    }
     
    .panel_top{
      font-size: 60px;/*no*/   
    }
    .panel_title{
      font-size: 36px;/*no*/   
    }
}
@media screen and ( min-width:1260px) and ( max-width:1560px ) {
  html{
    font-size: 14px; /*no*/   
  }
  
  .panel_top{
    font-size: 66px;/*no*/   
  }
  .panel_title{
    font-size: 40px;/*no*/   
  }
}

.mobile{

  .panel_top{
    font-size: 40px!important;
    text-align: left!important;
    .panel_title{
      font-size: 34px!important;
      top: -20px!important;
      text-align: left!important;
    }
  }
}