<!--
 * @Author       : xh
 * @Date         : 2022-05-10 10:56:29
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-05-11 22:50:18
 * @FilePath: \vite_v3\src\views\joinDetail\index.vue
-->
<template>
  <div :class="ifMobile ? 'pages m_page' : 'pages'">
    <div v-if="ifMobile" class="m_detail">
      <div class="m_content">
        <div class="m_ti">JAVA</div>
        <div class="flex">
          <div class="f1 flex m_cells">
            <img src="@/assets/gz.png" class="icons" alt="" />
            <p>工作经验：3-5年</p>
          </div>
          <div class="f1 flex m_cells">
            <img src="@/assets/xw.png" class="icons" alt="" />
            <p>学历要求：3-5年</p>
          </div>
        </div>
        <div class="flex">
          <div class="f1 flex m_cells">
            <img src="@/assets/zc.png" class="icons" alt="" />
            <p>职位类型：3-5年</p>
          </div>
          <div class="f1 flex m_cells">
            <img src="@/assets/sz.png" class="icons" alt="" />
            <p>招聘类型：3-5年</p>
          </div>
        </div>
        <div class="flex m_cells">
          <img src="@/assets/sj.png" class="icons" alt="" />
          <p>发布日期：-5年</p>
        </div>
        <div class="flex m_cells">
          <img src="@/assets/dd.png" class="icons" alt="" />
          <p>工作地点：-5年</p>
        </div>
        <ul class="m_row flex">
          <li class="flex m_tags">六险一金</li>
          <li class="flex m_tags">六险一金</li>
        </ul>
      </div>
    </div>
    <div :class="ifMobile ? 'm_pad' : ''">
      <div class="cm_container">
        <div v-if="!ifMobile" class="top">职位详情</div>
        <div v-if="!ifMobile" class="messageBox animated fadeInUp">
          <h3 class="tit">Java开发工程师</h3>
          <ul class="row flex">
            <li class="flex col">
              <img src="@/assets/gz.png" class="icons" alt="" />
              <p>工作经验：3-5年</p>
            </li>
            <li class="flex col">
              <img src="@/assets/xw.png" class="icons" alt="" />
              <p>学历要求：3-5年</p>
            </li>
            <li class="flex col">
              <img src="@/assets/zc.png" class="icons" alt="" />
              <p>职位类型：3-5年</p>
            </li>
            <li class="flex col">
              <img src="@/assets/sz.png" class="icons" alt="" />
              <p>招聘类型：3-5年</p>
            </li>
          </ul>
          <ul class="row flex">
            <li class="flex col">
              <img src="@/assets/sj.png" class="icons" alt="" />
              <p>发布日期：-5年</p>
            </li>
            <li class="flex col">
              <img src="@/assets/dd.png" class="icons" alt="" />
              <p>工作地点：-5年</p>
            </li>
          </ul>

          <ul class="row flex">
            <li class="flex tags">六险一金</li>
            <li class="flex tags">六险一金</li>
          </ul>
        </div>
        <div class="mainContent">
          <div class="content">佛挡杀佛撒大声地萨达阿斯顿发送到啊</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import useCommon from '@/hooks/common';
import { onActivated, onMounted, reactive, ref, computed } from 'vue';
const dataList = ref([1, 2, 3, 4, 5]);
const { ifMobile, router } = useCommon();
onMounted(() => {
  window.scrollTo(0, 0);
});
</script>

<style lang="scss" scoped>
.pages {
  padding: 88px 0;

  .cm_container {
    // padding: 45px 56px;
    text-align: left;
    background: #fff;
    box-shadow: 0px 2px 14px 0px rgba(1, 9, 72, 0.08);
    .top {
      font-size: 18px;
      font-weight: 500;
      color: #333333;
      padding: 0 70px;
      line-height: 65px;
      background-color: #fff;
    }
    .messageBox {
      width: 100%;
      // height: 336px;
      background-color: rgb(101, 124, 143);
      padding: 70px 60px;
      color: #fff;
      text-align: left;
      .tit {
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        line-height: 1;
        margin-bottom: 12px;
      }
      .row {
        justify-content: flex-start;
        align-items: center;

        .icons {
          width: 30px;
          height: 30px;
          margin-right: 15px;
        }
        .tags {
          background: var(--primary);
          border-radius: 16px;
          height: 32px;
          text-align: center;
          padding: 0 28px;
          color: #fff;
          margin-right: 52px;
          margin-top: 16px;
        }
        .col {
          margin-right: 58px;
          align-items: center;
          margin-top: 30px;
        }
      }
    }

    .mainContent {
      padding: 70px;
      .title {
        font-size: 22px;
        font-weight: bold;
        color: #333333;
        text-indent: 20px;
        position: relative;
        line-height: 1;
        margin-bottom: 50px;
        &::before {
          content: '';
          width: 4px;
          height: 21px;
          background-color: var(--primary);
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .cells {
        font-size: 18px;
        font-weight: 500;
        color: #333333;
        line-height: 48px;
        text-indent: 20px;
      }
    }
  }
}

.m_page {
  padding: 0;

  .m_detail {
    background: blue;
    padding: 22px;
    text-align: left;

    .m_content {
      background: rgba(255, 255, 255, 0.5);
      padding: 28px 32px;
      font-size: 27px;
      .icons {
        width: 29px;
        height: 25px;
        margin-right: 13px;
      }
      .m_ti {
        font-size: 34px;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 30px;
      }
    }
    .m_tags {
      height: 37px;
      background: #0070ff;
      border-radius: 18px;
      font-size: 20px;
      font-weight: 500;
      color: #ffffff;
      margin-right: 35px;
      padding: 0 20px;
    }
    .m_cells {
      margin-top: 30px;
      justify-content: flex-start;
    }
    .m_row {
      margin-top: 30px;
      justify-content: flex-start;
    }
  }
  .m_pad {
    padding: 27px;
  }
}
</style>
