<!--
 * @Author       : xh
 * @Date         : 2022-05-10 10:56:06
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-05-11 22:33:44
 * @FilePath: \vite_v3\src\views\join\index.vue
-->
<template>
  <div :class="ifMobile ? 'pages m_page' : 'pages'">
    <!-- *************m************* -->
    <div v-if="ifMobile" class="searchBox">
      <div class="cm_container flex">
        <div class="f1 flex" @click="toggle(1)">
          <span>招聘类型</span>
          <el-icon><arrow-down color="#333" /></el-icon>
        </div>
        <div class="f1 flex" @click="toggle(2)">
          <span>职位类别</span>
          <el-icon><arrow-down color="#333" /></el-icon>
        </div>
        <div class="f1 flex" @click="toggle(3)">
          <span>工作经验</span>
          <el-icon><arrow-down color="#333" /></el-icon>
        </div>
        <div class="f1 flex" @click="toggle(4)">
          <span>学历要求</span>
          <el-icon><arrow-down color="#333" /></el-icon>
        </div>
      </div>
      <div v-if="show" class="hidden flex animated fadeInDown">
        <button class="options active">选项1</button>
        <button class="options">选项1</button>
        <button class="options">选项1</button>
        <button class="options">选项1</button>
      </div>
    </div>

    <!-- *************pc************* -->
    <div v-else class="searchBox">
      <div class="cm_container flex_y">
        <el-row style="width: 100%">
          <el-col :span="6">
            <el-select v-model="value" class="m-2" size="large" placeholder="招聘类型">
              <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" style="width: 280px" />
            </el-select>
          </el-col>
          <el-col :span="6">
            <el-select v-model="value" class="m-2" size="large" placeholder="职位类型">
              <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" style="width: 280px" />
            </el-select>
          </el-col>
          <el-col :span="6">
            <el-select v-model="value" class="m-2" size="large" placeholder="工作经验">
              <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" style="width: 280px" />
            </el-select>
          </el-col>
          <el-col :span="6">
            <el-select v-model="value" class="m-2" size="large" placeholder="学历要求">
              <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" style="width: 280px" />
            </el-select>
          </el-col>
        </el-row>
      </div>
    </div>

    <div class="cm_container">
      <div class="listBox">
        <el-row style="width: 100%" :gutter="ifMobile ? 0 : 26">
          <el-col v-for="(item, index) in dataList" :key="item" :span="12" :xs="24">
            <div class="hvr-round-corners newItems animated fadeInRight" :style="{ 'animation-delay': index * 0.3 + 's' }" @click="nav">
              <div class="flex">
                <div class="itemContent f1">
                  <h4 class="itemTitle hvr-forward">游龙集团“立九迎十再出发</h4>
                  <p class="itemDes hvr-forward">福州 <span class="diver">|</span> 3-5年 <span class="diver">|</span> 15-20K</p>
                </div>
                <div v-if="ifMobile" class="m_btns">了解详情</div>
                <div v-else class="btns btn-10">了解详情</div>
              </div>
            </div>
          </el-col>
        </el-row>
      </div>
      <!-- <ul class="flex listBox">
        <li
          v-for="(item, index) in dataList" :key="item" class="hvr-round-corners   newItems animated fadeInRight"
          :style="{ 'animation-delay': index * 0.3 + 's' }" @click="nav"
        >
          <div class=" flex">
            <div class="itemContent f1">
              <h4 class="itemTitle hvr-forward">
                游龙集团“立九迎十再出发
              </h4>
              <p class="itemDes hvr-forward">
                福州 <span class="diver">|</span> 3-5年 <span class="diver">|</span> 15-20K
              </p>
            </div>
            <div class="btns btn-10">
              了解详情
            </div>
          </div>
        </li>
      </ul> -->
      <div class="pagination flex">
        <div v-if="!ifMobile" class="f1" />
        <el-pagination background layout="prev, pager, next" :total="1000" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'JoinPage'
};
</script>
<script setup>
import useCommon from '@/hooks/common';
import { onActivated, onMounted, reactive, ref, computed } from 'vue';
const { ifMobile, router } = useCommon();
const show = ref(false);
const current = ref(1);
const dataList = ref([1, 2, 3, 4, 5]);
const nav = (id) => {
  router.push('/joinDetail/123123');
};
onMounted(() => {
  window.scrollTo(0, 0);
});
const toggle = (k) => {
  if (k == current.value) {
    show.value = !show.value;
  } else {
    show.value = true;
  }
};
const options = ref([
  {
    value: 'Option1',
    label: 'Option1'
  },
  {
    value: 'Option2',
    label: 'Option2'
  },
  {
    value: 'Option3',
    label: 'Option3'
  },
  {
    value: 'Option4',
    label: 'Option4'
  },
  {
    value: 'Option5',
    label: 'Option5'
  }
]);
</script>

<style lang="scss" scoped>
.pages {
  padding: 0 0 50px 0;
  background-color: rgba(247, 247, 247);
  background-image: url('~/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  .searchBox {
    width: 100%;
    background-color: #fff;
    height: 150px;
    margin-bottom: 79px;
    .cm_container {
      height: 100%;
    }
  }

  .listBox {
    width: 100%;
    padding: 20px;
    // flex-wrap: wrap;
    // justify-content: space-between;
    .newItems {
      // padding: 42px 0;
      border-left: 4px solid var(--primary);
      align-items: center;
      width: 100%;
      background-color: #fff;
      margin-bottom: 54px;
      padding: 40px;
      cursor: pointer;
      .itemContent {
        cursor: pointer;
        .itemTitle {
          font-size: 22px;
          font-weight: bold;
          color: #333333;
          line-height: 2;
          margin-bottom: 32px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2; //保留多少行
          overflow: hidden;
          text-align: left;
        }
        .itemDes {
          font-size: 18px;
          font-weight: 400;
          color: #999999;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3; //保留多少行
          overflow: hidden;
          line-height: 2;
          text-align: left;
        }
      }
      .btns {
        cursor: pointer;
        width: 100px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        font-weight: 500;
        border: 1px solid #0070ff;
        // color: #0070ff;
        position: relative;
        overflow: hidden;
      }
    }
  }
}

.m_page {
  // padding: 27px;
  .newItems {
    margin-bottom: 27px !important;
    padding: 27px;
    .itemTitle {
      font-size: 30px;
      font-weight: bold;
      color: #333333;
    }
    .itemDes {
      font-size: 27px;
      font-weight: 500;
      color: #b3b3b3;
    }
    .m_btns {
      width: 147px;
      height: 54px;
      line-height: 52px;
      background: #ffffff;
      border: 1px solid #0070ff;
      font-size: 27px;
      font-weight: 500;
      color: #0070ff;
    }
  }
  .searchBox {
    height: 100px;
    margin-bottom: 0;
    position: relative;
    .hidden {
      position: absolute;
      left: 0;
      top: 100px;
      width: 100%;
      z-index: 10;
      background: #fff;
      padding: 20px;
      flex-wrap: wrap;
      justify-content: flex-start;
      box-shadow: 0px 3px 11px 0px rgba(92, 92, 92, 0.11);
      .options {
        flex: 0 0 30%;
        height: 55px;
        line-height: 53px;
        margin: 8px;
        border: 1px solid #d9d9d9;
        background: #fff;
        color: #b3b3b3;
        font-size: 20px;
      }
      .active {
        border: 1px solid #0070ff;
        background: #e8efff;
        text-align: center;
        color: #0070ff;
      }
    }
  }
  .cm_container {
    font-size: 28px;
    position: relative;
    // z-index: 50;
  }
  .pagination {
    transform: scale(1.4);
    margin-top: 32px;
    margin-bottom: 12px;
  }
}
</style>
