<!--
 * @Author       : xh
 * @Date         : 2022-05-10 10:55:13
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-11 15:52:08
 * @FilePath     : \vite_v3\src\views\business\index.vue
-->
<template>
  <div :class="ifMobile ? 'pages m_page' : 'pages'">
    <div class="cm_container">
      <header class="tabsBar flex animated fadeInDown">
        <div class="tabs active">
          游戏分发
        </div>
        <div class="tabs hvr-wobble-vertical">
          电子商务
        </div>
        <div class="tabs hvr-wobble-vertical">
          思域SASS
        </div>
      </header>
      <div v-if="!ifMobile" class="divider animated fadeIn">
        <div class="block" />
      </div>
      <div class="content animated fadeInUp">
        <el-carousel
          ref="carousel" :autoplay="true" indicator-position="none"
          :height="ifMobile?'280px':'460px' " arrow="never"
        >
          <el-carousel-item v-for="item in dataList" :key="item">
            <div class="bannersBox flex">
              <div class="bars flex_y">
                <img src="https://img0.baidu.com/it/u=2943339335,4206375496&fm=253&fmt=auto&app=138&f=JPEG?w=1000&h=332" alt="" class="preview hvr-buzz-out">
                <h4 class="title hvr-float-shadow">
                  1845手游
                </h4>
                <p class="des">
                  水电费水电费
                </p>
              </div>
              <!-- <div class="bars flex_y">
                <img src="https://img0.baidu.com/it/u=2943339335,4206375496&fm=253&fmt=auto&app=138&f=JPEG?w=1000&h=332" alt="" class="preview hvr-buzz-out">
                <h4 class="title hvr-float-shadow">
                  1845手游
                </h4>
                <p class="des">
                  水电费水电费
                </p>
              </div>
              <div class="bars flex_y">
                <img src="https://img0.baidu.com/it/u=2943339335,4206375496&fm=253&fmt=auto&app=138&f=JPEG?w=1000&h=332" alt="" class="preview hvr-buzz-out">
                <h4 class="title hvr-float-shadow">
                  1845手游
                </h4>
                <p class="des">
                  水电费水电费
                </p>
              </div> -->
            </div>
          </el-carousel-item>
        </el-carousel>
        <ul class="flex">
          <li class="dots activedots hvr-pulse" />
          <li class="dots hvr-pulse" />
          <li class="dots hvr-pulse" />
        </ul>

        <div v-if="!ifMobile" class="arrows prop flex_y hvr-backward">
          <img src="@/assets/l.png" alt="">
        </div>
        <div v-if="!ifMobile" class="arrows next flex_y hvr-forward">
          <img src="@/assets/r.png" alt="">
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'BusinessPage'
};
</script>
<script setup>
import useCommon from '@/hooks/common';
import { onActivated, onMounted, reactive, ref, computed } from 'vue';
const { ifMobile, filters } = useCommon();
const dataList = ref([1, 2, 3, 4, 5]);
onMounted(() => {
  window.scrollTo(0, 0);
});
</script>

<style lang="scss" scoped>
.pages {
  background-color: rgba(244, 249, 255, 1);
  padding: 112px 0;

  .tabsBar {
    // justify-content: space-around;
    justify-content: center;
    .tabs {
      width: 200px;
      height: 42px;
      line-height: 42px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      color: #333333;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      margin: 0 30px;
    }
    .active {
      background: var(--primary);
      color: #fff;
      box-shadow: 0 4px 10px #81a2ef;
    }
  }

  .divider {
    width: 80%;
    height: 18px;
    border-bottom: 2px solid rgba(230, 230, 230, 1);
    position: relative;
    margin: 26px auto 96px auto;
    .block {
      position: absolute;
      left: 50%;
      bottom: -10px;
      width: 18px;
      height: 18px;
      margin-left: -9px;
      border: 2px solid #e6e6e6;
      background-color: rgba(244, 249, 255, 1);
    }
  }

  .content {
    width: 100%;
    position: relative;
    .arrows {
      position: absolute;
      z-index: 1;
      cursor: pointer;
      img {
        margin-top: -170px;
      }
    }
    .prop {
      left: -50px;
      top: 0;
      width: 50px;
      height: 100%;
    }
    .next {
      top: 0;
      right: -50px;
      width: 50px;
      height: 100%;
    }
    .bannersBox {
      width: 100%;
      justify-content: center;
      color: rgba(51, 51, 51, 1);
      .bars {
        flex: 1;
        cursor: pointer;
        .preview {
          width: 370px;
          height: 282px;
          box-shadow: 0px 7px 11px 0px rgba(92, 92, 92, 0.17);
          transition: all ease 0.4s;
          &:hover {
            filter: sepia(2);
          }
        }
        .title {
          font-size: 20px;
          font-weight: bold;
          color: #333333;
          margin-top: 48px;
          margin-bottom: 22px;
        }
        .des {
          font-size: 18px;
          font-weight: bold;
          color: #3f3f3f;
        }
      }
    }
  }

  .dots {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(230, 230, 230, 1);
    margin: 0 8px;
    cursor: pointer;
  }
  .activedots {
    background: var(--primary);
  }
}


.m_page{
  padding: 27px;
.cm_container{
    // margin: 26px;
    background-color: #fff;
    padding-top: 53px;
    .tabsBar{
      margin-bottom: 45px;
    }
    .content{
      padding: 27px;
      .bannersBox{
        width: 100%;
        .bars{
          width: 100%;
        }
        .preview{
          width: 100%;
          height: 369px;
        }
      }
    }
  }
}
</style>
