<!--
 * @Author       : xh
 * @Date         : 2022-05-09 10:20:07
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-05-11 22:52:31
 * @FilePath: \vite_v3\src\components\Header\index.vue
-->

<template>
  <div class="fixed animated fadeInDown">
    <div class="cm_container">
      <!-- pc -->
      <div v-if="!ifMobile" class="flex header">
        <img src="@/assets/logo1.png" class="logo" alt="logo" />
        <article class="flex menusBox">
          <!-- {{ activeMenus }} -->
          <div class="menus" :class="activeMenus === 'Home' ? 'active' : 'hvr-pop'" @click="nav('')">
            <span>关于游龙</span>
          </div>

          <div class="menus" :class="activeMenus === 'Business' ? 'active' : 'hvr-pop'" @click="nav('Business')">
            <span>业务范畴</span>
          </div>

          <div class="menus" :class="activeMenus === 'News' || activeMenus === 'NewsDetail' ? 'active' : 'hvr-pop'" @click="nav('News')">
            <span>游龙新闻</span>
          </div>
          <div class="menus" :class="activeMenus === 'Contact' ? 'active' : 'hvr-pop'" @click="nav('Contact')">
            <span>联系我们</span>
          </div>
          <div class="menus" :class="activeMenus === 'Join' || activeMenus === 'JoinDetail' ? 'active' : 'hvr-pop'" @click="nav('Join')">
            <span>加入我们</span>
          </div>
        </article>
      </div>
      <!-- mobile -->
      <div v-if="ifMobile" class="flex m_header">
        <img src="@/assets/logo1.png" class="logo" alt="logo" />
        <div class="f1" />
        <div class="action flex_y">
          <img src="@/assets/m.png" class="m" alt="" @click="toggle" />
          <article class="menusBox animated" :class="show ? 'fadeInRight' : 'fadeOutRight'">
            <div class="menus" :class="activeMenus === 'Home' ? 'active' : 'hvr-pop'" @click="nav('')">
              <span>关于游龙</span>
            </div>

            <div class="menus" :class="activeMenus === 'Business' ? 'active' : 'hvr-pop'" @click="nav('Business')">
              <span>业务范畴</span>
            </div>

            <div class="menus" :class="activeMenus === 'News' || activeMenus === 'NewsDetail' ? 'active' : 'hvr-pop'" @click="nav('News')">
              <span>游龙新闻</span>
            </div>
            <div class="menus" :class="activeMenus === 'Contact' ? 'active' : 'hvr-pop'" @click="nav('Contact')">
              <span>联系我们</span>
            </div>
            <div class="menus" :class="activeMenus === 'Join' || activeMenus === 'JoinDetail' ? 'active' : 'hvr-pop'" @click="nav('Join')">
              <span>加入我们</span>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { ref, watch } from 'vue';
import useCommon from '@/hooks/common';
const { ifMobile, router, route } = useCommon();
let show = ref(false);
let activeMenus = ref('Home');
watch(
  () => route.name,
  (v) => {
    activeMenus.value = v;
    // show.value = false;
  }
);
const toggle = () => {
  show.value = !show.value;
};
const nav = (k) => {
  console.log(activeMenus.value, k);
  if (!k) {
    show.value = false;
    router.push('/');
  } else if (activeMenus.value != k) {
    const u = k.toLowerCase();
    show.value = false;
    router.push(`/${u}`);
  }
};
defineProps({
  msg: String
});

const count = ref(0);
</script>
<style scoped lang="scss">
.fixed {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 500;
  .header {
    justify-content: space-between;
    width: 100%;
    height: 92px;
    .logo {
      width: 183px;
      // height: 57px;
    }
    .menusBox {
      width: 100%;
      height: 100%;
      justify-content: flex-end;
      .menus {
        width: 118px;
        text-align: center;
        height: 100%;
        line-height: 92px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        // transition:all .2s ease ;
        // &:hover{
        //   transform: translateY(-2px);
        // }
        position: relative;
      }
      .active {
        color: var(--primary);
        &:after {
          content: '';
          height: 4px;
          background: var(--primary);
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
        }
      }
    }
  }
}
// **********************m********************
.m_header {
  width: 100%;
  height: 88px;
  padding-left: 27px;
  .logo {
    width: 181px;
  }
  .action {
    width: 88px;
    height: 88px;
    position: relative;
    .m {
      width: 43px;
      height: 32px;
    }

    .menusBox {
      width: 200px;
      padding: 0 39px;
      position: absolute;
      right: 0;
      top: 88px;
      background-color: #fff;
      .menus {
        height: 85px;
        line-height: 85px;
        border-bottom: 1px solid #ededed;
        font-size: 28px;
        &:last-child {
          border-bottom: none;
        }
      }
      .active {
        color: var(--primary);
        font-weight: 600;
      }
    }
  }
}

.hvr-pop:before {
  background: var(--primary);
}
</style>
