<!--
 * @Author       : xh
 * @Date         : 2022-05-10 10:56:29
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-11 16:02:46
 * @FilePath     : \vite_v3\src\views\contact\index.vue
-->
<template>
  <div :class="ifMobile ? 'pages m_page' : 'pages'">
    <div class="cm_container">
      <div
        v-for="(item, index) in dataList" :key="item" class="block flex animated fadeInRight"
        :style="{ 'animation-delay': index * 0.3 + 's' }"
      >
        <div v-if="ifMobile" class="m_title">
          福州总部
        </div>
        <div v-else class="title">
          福州总部
        </div>
        <ul v-if="ifMobile">
          <li class="m_cells">
            地址：福州市仓山区金山大道618号橘园创意 广场67幢4楼09~17 前台咨询电话：0591-87751005
          </li>
        </ul>
        <ul v-else>
          <li class="cells">
            地址：福州市仓山区金山大道618号橘园创意 广场67幢4楼09~17 前台咨询电话：0591-87751005
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ContactPage'
};
</script>
<script setup>
import useCommon from '@/hooks/common';
import { onActivated, onMounted, reactive, ref, computed } from 'vue';
const { ifMobile, filters } = useCommon();
const dataList = ref([1, 2, 3, 4, 5]);
onMounted(() => {
  window.scrollTo(0, 0);
});
</script>

<style lang="scss" scoped>
.pages {
  padding: 88px 0;
  background-image: url('~/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  .cm_container {
    padding: 45px 56px;
    background: #fff;
    box-shadow: 0px 2px 14px 0px rgba(1, 9, 72, 0.08);
    .block {
      margin-bottom: 50px;
      text-align: left;
      .title {
        font-size: 22px;
        font-weight: bold;
        color: #333333;
        text-indent: 20px;
        position: relative;
        line-height: 1;
        margin-bottom: 50px;
        &::before {
          content: '';
          width: 4px;
          height: 21px;
          background-color: var(--primary);
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .cells {
        font-size: 18px;
        font-weight: 500;
        color: #333333;
        line-height: 48px;
        text-indent: 20px;
      }
    }
  }
}

.m_page {
  padding: 27px;
  .cm_container {
    // margin: 26px;
    background-color: #fff;
    padding-top: 53px;
    .m_title {
      font-size: 30px;
      font-weight: bold;
      color: #333333;
      line-height: 2;
    }
    .m_cells {
      line-height: 2 ;
      font-size: 27px;
      font-weight: 500;
      color: #333333;
    }
  }
}
</style>
