<!--
 * @Author       : xh
 * @Date         : 2022-05-10 10:56:06
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-11 15:58:59
 * @FilePath     : \vite_v3\src\views\news\index.vue
-->
<template>
  <div :class="ifMobile ? 'pages m_page' : 'pages'">
    <div class="cm_container">
      <div v-if="!ifMobile" class="lines" />
      <ul>
        <li
          v-for="(item,index) in dataList"
          :key="item" class="newItems flex animated fadeInRight" :style="{'animation-delay':index*.3+'s'}"
          @click="nav"
        >
          <div class="preview hvr-bubble-float-right">
            <el-image
              :style="{ width:ifMobile?'127px':'391px' , height:ifMobile?'78px':'225px' }" src="https://img0.baidu.com/it/u=4242582425,461281111&fm=253&fmt=auto&app=138&f=JPEG?w=699&h=500" :preview-src-list="['https://img0.baidu.com/it/u=4242582425,461281111&fm=253&fmt=auto&app=138&f=JPEG?w=699&h=500']"
              :initial-index="4" fit="cover"
            />
          </div>
          <div v-if="!ifMobile" class="timeBox flex_y hvr-reveal">
            <h4>17</h4>
            <p>2022.1</p>
          </div>
          <div class="itemContent f1">
            <h4 class="itemTitle hvr-forward">
              游龙集团“立九迎十再出发，凝心聚力向未来”之“起航2022” 年会盛典圆2” 年会盛典圆满结束2” 年会盛典圆满结束2” 年会盛典圆满结束2” 年会盛典圆满结束满结束！
            </h4>
            <p v-if="!ifMobile" class="itemDes hvr-forward">
              1月15日，游龙集团“立九迎十再出发，凝心聚力向未来”之“起航2022”年会 盛典，在福州三迪希起航2022”年会 盛典，在福州三迪希尔顿酒起航2022”年会 盛典，在福州三迪希尔顿酒起航2022”年会 盛典，在福州三迪希尔顿酒起航2022”年会 盛典，在福州三迪希尔顿酒起航2022”年会 盛典，在福州三迪希尔顿酒尔顿酒店顺利举办。游龙集团全体
            </p>
          </div>
        </li>
      </ul>
      <div class="pagination flex">
        <div v-if="!ifMobile" class="f1" />
        <el-pagination background layout="prev, pager, next" :total="1000" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'NewPage'
};
</script>
<script setup>
import useCommon from '@/hooks/common';
import { onActivated, onMounted, reactive, ref, computed } from 'vue';
import { useRoute, useRouter } from 'vue-router';
const { ifMobile, filters } = useCommon();
const router = useRouter();
const route = useRoute();
const dataList = ref([1, 2, 3, 4, 5]);
const nav = (id) => {
  router.push('/newsDetail/123123');

};
onMounted(() => {
  window.scrollTo(0, 0);
});
</script>

<style lang="scss" scoped>
.pages {
  padding: 111px 0 50px 0;
  background-color: #fff;

  .newItems {
    padding: 42px 0;
    border-bottom: 1px solid #e6e6e6;
    align-items: flex-start;
    .lines {
      width: 100%;
      height: 1px;
      border: 1px solid #e6e6e6;
    }
    .timeBox {
      width: 73px;
      height: 73px;
      border: 1px solid #eee;
      color: var(--primary);
      margin-left: 67px;
      margin-right: 24px;
      cursor: pointer;
      h4 {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #0070ff;
        margin-bottom: 4px;
      }
      p {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #0070ff;
      }
    }

    .itemContent {
      cursor: pointer;
      .itemTitle {
        font-size: 22px;
        font-weight: bold;
        color: #333333;
        line-height: 2;
        margin-bottom: 52px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; //保留多少行
        overflow: hidden;
      }
      .itemDes {
        font-size: 18px;
        font-weight: 400;
        color: #999999;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; //保留多少行
        overflow: hidden;
        line-height: 2;
      }
    }
  }

  .pagination {
    text-align: right;
    margin-top: 137px;
  }
}

.m_page{
  padding: 26px;
  background-color: #fff;
  .cm_container{
    padding: 0;
    .newItems{
        .preview{
          margin-right: 26px;
        }
    }
  }
  .pagination{
    transform: scale(1.4);
    margin-top:32px ;
    margin-bottom: 12px;
  }
}
</style>
