<!--
 * @Author       : xh
 * @Date         : 2022-05-09 10:20:09
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-11 14:27:50
 * @FilePath     : \vite_v3\src\components\Footer\index.vue
-->

<template>
  <div :class="ifMobile ? 'footer mobile' : 'footer'">
    <div v-if="ifMobile" class="cm_container">
      <div class="content">
        <div class="flex m_top">
          <div class="lines">
            <h4>关于游龙</h4>
          </div>
          <div class="lines">
            <h4>业务范畴</h4>
          </div>
          <div class="lines">
            <h4>游龙新闻</h4>
          </div>
          <div class="lines">
            <h4>联系我们</h4>
          </div>

          <div class="lines">
            <h4>加入我们</h4>
          </div>
        </div>
        <div class="divider" />
        <div class="bottom flex">
          <img src="@/assets/ewm.png" class="ewm" alt="ewm">
          <div class="f1">
            <p>备案/许可证号<span class="ba">闽ICP备13003476号-22</span></p>
            <p>闽公网安备 35010402351182号</p>
            <p>增值电信经营许可证：闽B2-20150062</p>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="cm_container">
      <div class="content">
        <div class="flex top">
          <article class="flex f1 top_l">
            <div class="lines">
              <h4>关于游龙</h4>
              <p>
                <router-link to="/pro" class="hvr-forward">
                  企业文化
                </router-link>
              </p>
              <p>
                <router-link to="/pro" class="hvr-forward">
                  公司简介
                </router-link>
              </p>
              <p>
                <router-link to="/pro" class="hvr-forward">
                  发展历程
                </router-link>
              </p>
              <p>
                <router-link to="/pro" class="hvr-forward">
                  企业发展
                </router-link>
              </p>
            </div>
            <div class="lines">
              <h4>业务范畴</h4>
              <p>
                <router-link to="/pro" class="hvr-forward">
                  游戏分发
                </router-link>
              </p>
              <p>
                <router-link to="/pro" class="hvr-forward">
                  电子商务
                </router-link>
              </p>
              <p>
                <router-link to="/pro" class="hvr-forward">
                  私域SASS
                </router-link>
              </p>
            </div>
            <div class="lines">
              <h4>游龙新闻</h4>
              <p>
                <router-link to="/pro" class="hvr-forward">
                  公司动态
                </router-link>
              </p>
            </div>
            <div class="lines">
              <h4>联系我们</h4>
              <p>
                <router-link to="/pro" class="hvr-forward">
                  福州总部
                </router-link>
              </p>
              <p>
                <router-link to="/pro" class="hvr-forward">
                  成都分布
                </router-link>
              </p>
              <p>
                <router-link to="/pro" class="hvr-forward">
                  商务合作
                </router-link>
              </p>
            </div>

            <div class="lines">
              <h4>加入我们</h4>
              <p>
                <router-link to="/pro" class="hvr-forward">
                  招聘信息
                </router-link>
              </p>
            </div>
          </article>
          <aside class="flex top_r">
            <img src="@/assets/ewm.png" class="ewm" alt="ewm">
            <img src="@/assets/logo2.png" class="logo" alt="logo2">
          </aside>
        </div>
        <div class="bottom">
          <div>
            备案/许可证号
            <span class="ba">闽ICP备13003476号-22 闽公网安备 35010402351182号</span>增值电信经营许可证：闽B2-20150062
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import useCommon from '@/hooks/common';
import { ref } from 'vue';
const { ifMobile, filters } = useCommon();
</script>

<style scoped lang="scss">
.footer {
  width: 100%;

  background: #232a77;
  color: #fff;
  font-size: 15px;
  padding: 104px 0;

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 303px;
    .top {
      flex: 1;
      width: 100%;
      align-items: flex-start;
      .top_l {
        justify-content: flex-start;
        align-items: flex-start;
        .lines {
          margin-right: 52px;
          text-align: left;
        }
      }
      h4 {
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 20px;
      }
      p {
        font-size: 15px;
        line-height: 2.6;
        color: #ffffff;
      }
      .top_r {
        text-align: right;
        flex-direction: column;
        align-items: flex-end;
        .ewm {
          width: 140px;
          height: 140px;
        }
        .logo {
          width: 216px;
          height: 67px;
          margin-top: 37px;
        }
      }
    }
    .bottom {
      font-size: 18px;
      text-align: left;
      .ba {
        color: #709bff;
      }
    }
  }
}

.footer.mobile {
  padding: 0 26px;
  padding-bottom: 68px;
  .content {
    // padding-top: 28px;
    .m_top {
      height: 84px !important;
      line-height: 84px !important;
      .lines {
        flex: 1;
        margin: 0;
        h4 {
          font-size: 24px;
           height: 84px !important;
          line-height: 84px !important;
        }
      }
    }
    .divider{
      width: 100%;
      height: 1px;
      background:  rgba(255, 255, 255, .2);
      margin-bottom: 20px;
    }
    .bottom{
      font-size: 20px;
        .ewm{
          width: 135px;
          height: 135px;
          margin-right: 57px;
        }
        p{
          line-height: 2;
        }
    }
  }
}
</style>
