<!--
 * @Author       : xh
 * @Date         : 2022-05-10 10:56:15
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-11 15:53:57
 * @FilePath     : \vite_v3\src\views\newsDetail\index.vue
-->
<template>
  <div :class="ifMobile ? 'pages m_page' : 'pages'">
    <div class="cm_container animated fadeInUp">
      <div v-if="!ifMobile" class="his flex">
        游龙新闻 / <span class="blue">新闻详情</span>
      </div>
      <div class="content">
        佛挡杀佛撒大声地萨达阿斯顿发送到啊
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'NewDetailPage'
};
</script>
<script setup>
import useCommon from '@/hooks/common';
import { onActivated, onMounted, reactive, ref, computed } from 'vue';
const { ifMobile, filters } = useCommon();
onMounted(() => {
  window.scrollTo(0, 0);
});

</script>

<style lang="scss" scoped>
  .pages{
    padding: 75px 0;
    background-color:#fff ;
    .his{
      justify-content: flex-start;
      margin-bottom:72px ;
       .blue{
      color: var(--primary);
      margin-left: 10px;
    }
    }
    .content{
      margin-bottom: 80px;
    }
  }
  .m_page{
    padding: 26px;
    background-color:rgba(247, 247, 247);
    .cm_container{
      padding: 26px;
       background: #fff;

    }

  }
</style>
