<!--
 * @Author: loserjohn
 * @Date: 2022-04-01 10:18:02
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-11 15:04:35
 * @Description: ---
 * @FilePath     : \vite_v3\src\views\Home\index.vue
-->
<template>
  <div class="pages">
    <!-- 锚点 -->
    <!-- <el-affix :offset="ifMobile?44:88" :z-index="100">
      <div style="background:#fff;width: 100%;">
        <div class="cm_container" :class="ifMobile ? 'mobile' : ''">
          <div class="tabs flex">
            <div class="menus" :class="active == 1 ? 'active' : 'hvr-float'" @click="goAnchor('#panel1')">
              企业文化
            </div>
            <div class="menus" :class="active == 2 ? 'active' : 'hvr-float'" @click="goAnchor('#panel2')">
              公司简介
            </div>
            <div class="menus" :class="active == 3 ? 'active' : 'hvr-float'" @click="goAnchor('#panel3')">
              发展历程
            </div>
            <div class="menus" :class="active == 4 ? 'active' : 'hvr-float'" @click="goAnchor('#panel4')">
              企业荣誉
            </div>
          </div>
        </div>
      </div>
    </el-affix> -->


    <!-- 企业文化 -->
    <Panel1 />

    <!-- 公司简介 -->
    <Panel2 :scroll-top="scrollTop" />

    <!-- 发展历程 -->
    <Panel3 :scroll-top="scrollTop" />

    <!-- 企业荣誉 -->
    <Panel4 :scroll-top="scrollTop" />
  </div>
</template>
<script>
export default {
  name: 'HomePage'
};
</script>
<script setup>
import Panel1 from './Panel1.vue';
import Panel2 from './Panel2.vue';
import Panel3 from './Panel3.vue';
import Panel4 from './Panel4.vue';
import useCommon from '@/hooks/common';
import { onActivated, onMounted, onUnmounted, reactive, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
const { ifMobile } = useCommon();

const scrollTop = ref(0);
const router = useRouter();
const route = useRoute();
const panel1Style = reactive({
  'background-image': 'https://img1.baidu.com/it/u=2565606996,1214964482&fm=253&fmt=auto&app=138&f=JPEG?w=658&h=308'
});

let active = ref(1);
let data = reactive({
  list: []
});
// 原始代码
onActivated(() => {
  // alert(1)
});
onMounted(() => {
  window.scrollTo(0, 0);
  window.addEventListener('scroll', (e) => {
    const top = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
    scrollTop.value = top;
    // console.log(top);
  });
});
onUnmounted(() => {
  window.removeEventListener('scroll');
});
const _more = () => {
  router.push('/Projects');
};

const initData = async () => {
  // try {
  //   const res = await indexData();
  //   data.list = res;
  //   // debugger
  // } catch (error) {
  //   console.log(error);
  //   // debugger
  // }
};

const goAnchor = (selector) => {
  document.querySelector(selector).scrollIntoView({ behavior: 'smooth', block: 'center', inline: 'nearest' });
};
</script>

<style lang="scss" scoped>
.pages {
  width: 100vw;
  overflow-x: hidden;
  background: #fff;

  // .tabs {
  //   height: 70px;
  //   width: 100%;
  //   justify-content: space-between;
  //   background-color: #fff;
  //   .menus {
  //     width: 118px;
  //     height: 70px;
  //     line-height: 70px;
  //     position: relative;
  //     text-align: center;
  //     cursor: pointer;
  //     font-weight: 500;
  //     font-size: 20px;
  //   }
  //   .active {
  //     color: var(--primary);
  //     z-index: 10;
  //     &::before {
  //       content: '';
  //       position: absolute;
  //       width: 100%;
  //       height: 4px;
  //       background: var(--primary);
  //       bottom: 0;
  //       left: 0;
  //     }
  //   }
  // }

  // .mobile {
  //   .tabs {
  //     padding: 0 27px;
  //     background-color: #fff;
  //     height: 100px;
  //     z-index: 100;
  //     .menus {
  //       height: 100px;
  //       line-height: 100px;
  //       font-size: 28px;
  //     }
  //     .active {
  //       &::before {
  //         content: '';
  //         height: 8px;
  //       }
  //     }
  //   }
  // }
}
</style>
