<!--
 * @Author: loserjohn
 * @Date: 2022-04-01 10:18:02
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-11 13:55:39
 * @Description: ---
 * @FilePath     : \vite_v3\src\views\home\Panel4.vue
-->
<template>
  <!--  企业荣誉 -->
  <div id="panel4" :class="ifMobile ? 'mobile panel4' : 'panel4'">
    <div class="cm_container">
      <div class="panel_top">
        COMPANY PROFILE
        <h3 class="panel_title animated" :class="visible ? 'fadeInLeft' : 'fadeOutRight'">
          企业荣誉
        </h3>
      </div>

      <div class="panel_content animated" :class="visible ? 'fadeInUp' : 'fadeOutUp'">
        <div v-if="!ifMobile" class="mask mask_l flex_y">
          <div class="arrows hvr-pulse-grow">
            <img src="@/assets/l.png" alt="">
          </div>
        </div>
        <div v-if="!ifMobile" class="mask mask_r flex_y">
          <div class="arrows hvr-pulse-grow">
            <img src="@/assets/r.png" alt="">
          </div>
        </div>
        <el-carousel
          :interval="4000" type="card" indicator-position="none"
          arrow="never"
        >
          <el-carousel-item v-for="item in list" :key="item">
            <div class="bannersBox">
              <!-- sdf -->
              <img :src="item" class="banners" alt="">
            </div>
          </el-carousel-item>
        </el-carousel>
        <div class="flex dotsBox">
          <span class="dots activeDot" />
          <span class="dots" />
          <span class="dots" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Panel4Com'
};
</script>
<script setup>
import useCommon from '@/hooks/common';
import { onActivated, onMounted, defineProps, reactive, ref, computed } from 'vue';
import { useRoute, useRouter } from 'vue-router';
const { ifMobile, filters } = useCommon();
const props = defineProps({
  scrollTop: {
    type: Number,
    default: 0
  }
});
let height = ref(0);
onMounted(() => {
  //
  height.value = document.querySelector('#panel4').offsetTop;
  console.log(111, height);
});
const visible = computed(() => !!(height.value && props.scrollTop > height.value - 500));

const panelStyle = reactive({
  'background-image': 'url(https://img2.baidu.com/it/u=1273680765,1204844703&fm=253&fmt=auto&app=138&f=JPEG?w=1180&h=423)'
});
const list = ref([
  'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01d56b5542d8bc0000019ae98da289.jpg%401280w_1l_2o_100sh.jpg&refer=http%3A%2F%2Fimg.zcool.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1654667400&t=1590481898524617d900ad7f5fd95b0a',
  'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01d56b5542d8bc0000019ae98da289.jpg%401280w_1l_2o_100sh.jpg&refer=http%3A%2F%2Fimg.zcool.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1654667400&t=1590481898524617d900ad7f5fd95b0a',
  'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01d56b5542d8bc0000019ae98da289.jpg%401280w_1l_2o_100sh.jpg&refer=http%3A%2F%2Fimg.zcool.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1654667400&t=1590481898524617d900ad7f5fd95b0a'
]);
let active = ref(1);
// 原始代码
onActivated(() => {
  // alert(1)
});
</script>

<style lang="scss" scoped>
.panel4 {
  width: 100%;
  height: 37vw;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  padding-top: 3vw;
  overflow: hidden;
  background-color: rgba(231, 243, 255, 1);
  .panel_top {
    font-family: Source Han Sans CN;
    font-weight: 800;
    color: rgba(212, 230, 255, 0.4);
    // opacity: 0.03;
    font-size: 80px;
    text-align: center;
    position: relative;
    .panel_title {
      position: absolute;
      font-size: 52px;
      font-weight: bold;
      color: #333;
      width: 100%;
      text-align: center;
      bottom: -10px;
      left: 0;
      z-index: 1;
    }
  }
  .panel_content {
    justify-content: space-around;
    margin-top: 6vw;
    width: 100%;
    padding: 0 194px;
    position: relative;
    .mask {
      width: 30%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 4;
      .arrows {
        width: 40px;
        height: 40px;
        cursor: pointer;
        img {
          width: 20px;
          height: 36px;
        }
      }
    }
    .mask_l {
      left: 194px;
      background-image: linear-gradient(to right, rgba(231, 243, 255, 1), rgba(231, 243, 255, 0));
      align-items: flex-start;
      margin-left: -194px;
    }
    .mask_r {
      right: 194px;
      background-image: linear-gradient(to left, rgba(231, 243, 255, 1), rgba(231, 243, 255, 0));
      align-items: flex-end;
      margin-right: -194px;
    }
    // background-color: red;
    .bannersBox {
      background: transparent !important;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }
    .banners {
      width: 24vw;
      height: 18.5vw;
      background: #f1f1f1;
    }
  }
}

.panel4.mobile {
  height: auto;
  .panel_top{
    margin-left: 28px;
  }
  .cm_container {
    padding-top: 28px;

    .panel_content {
      padding: 0;
      .bannersBox {
        background: transparent !important;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
      }
      .banners {
        width: 50vw;
        height: 342px;
        background: #f1f1f1;
      }
    }
    .dotsBox{
      .dots{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #fff;
        margin: 40px 18px;
      }
      .activeDot{
        background: var(--primary);
      }
    }
  }
}
</style>
