<!--
 * @Author: loserjohn
 * @Date: 2022-04-01 10:18:02
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-11 15:21:35
 * @Description: ---
 * @FilePath     : \vite_v3\src\views\home\Panel3.vue
-->
<template>
  <!-- 发展历程 -->
  <div
    id="panel3" ref="" :style="panelStyle"
    :class="ifMobile ? 'panel3 mobile' : 'panel3'"
  >
    <div class="huans huan1">
      <span class="dots dot1" />
      <span class="dots dot2" />
      <span class="dots dot3" />
      <span class="dots dot4" />
    </div>
    <div class="huans huan2">
      <span class="dots dot1" />
      <span class="dots dot2" />
      <span class="dots dot3" />
      <span class="dots dot4" />
    </div>

    <!-- 有效部分 -->
    <div class="cm_container">
      <div class="panel_top">
        corporate culture
        <h3 class="panel_title animated" :class="visible ? 'fadeInRight' : 'fadeOutRight'">
          发展历程
        </h3>
      </div>

      <div class="panel_content animated" :class="visible ? 'fadeInUp' : 'fadeOutDown'">
        <div style="width: 100%">
          <el-carousel
            ref="carousel" :autoplay="false" indicator-position="none"
            :height="ifMobile ? '160px' : '200px'" arrow="never"
          >
            <el-carousel-item v-for="item in dataList" :key="item.name">
              <div class="bannersBox flex">
                <h3 class="year">
                  {{ item.name }}
                </h3>
                <ul v-infinite-scroll="load" class="bannerContent" style="overflow: auto">
                  <li v-for="(it, index) in 10" :key="index" class="cells">
                    是的发生的发生东方闪电发送到
                  </li>
                </ul>
              </div>
            </el-carousel-item>
          </el-carousel>
        </div>
      </div>

      <!-- 底部scroll -->
      <div class="panel_footer animated" :class="visible ? 'fadeInUp' : 'fadeOutDown'" :style="footStyle">
        <ul class="px_scrollBar flex" :style="styleOptions">
          <li v-for="(item, index) in dataList" :key="index" class="px_timerXbox">
            <img
              v-show="current != index" src="@/assets/icon1.png" class="icons animated pulse infinite"
              alt="" @click="choose(index)"
            >
            <img
              v-show="current == index" src="@/assets/icon2.png" class="activeIcons animated pulse infinite"
              alt=""
            >
            <p class="labels" :class="current == index ? 'labelsActive' : ''">
              {{ item.name }}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Panel3Com'
};
</script>
<script setup>
import useCommon from '@/hooks/common';
import { onActivated, onMounted, defineProps, reactive, ref, computed } from 'vue';
import { useRoute, useRouter } from 'vue-router';
// import Parallax from 'vue-parallaxy';
const { ifMobile, filters } = useCommon();
const lW = ifMobile.value ? 78 : 156;
// console.log(666, lW);
const props = defineProps({
  scrollTop: {
    type: Number,
    default: 0
  }
});
let height = ref(0);
onMounted(() => {
  height.value = document.querySelector('#panel3').offsetTop;
  console.log(111, height);
});
const visible = computed(() => !!(height.value && props.scrollTop > height.value - 300));

const r = window.innerWidth / 1920;
const carousel = ref('carousel');
const footStyle = reactive({
  // 'transform': `scale(${ifMobile ? 0.6 : 1})`
});
const dataList = ref([
  {
    name: 2013,
    id: 1
  },
  {
    name: 2014,
    id: 1
  },
  {
    name: 2015,
    id: 1
  },
  {
    name: 2016,
    id: 1
  },
  {
    name: 2017,
    id: 1
  },
  {
    name: 2018,
    id: 1
  },
  {
    name: 2019,
    id: 1
  },
  {
    name: 2019,
    id: 1
  },
  {
    name: 2020,
    id: 1
  },
  {
    name: 2021,
    id: 1
  },
  {
    name: 2022,
    id: 1
  }
]);
let current = ref(1);
const styleOptions = reactive({
  width: dataList.value.length * lW + 'px',
  transform: `translateX(-${current.value * lW}px)`
});
const panelStyle = reactive({
  'background-image': 'url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.jj20.com%2Fup%2Fallimg%2F1114%2F0Z320111T2%2F200Z3111T2-1-1200.jpg&refer=http%3A%2F%2Fimg.jj20.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1654843812&t=73a8b3f1a67267ee6c8116fd5362b603)',
  'background-attachment': ifMobile.value ? 'none' : 'fixed'
});

let active = ref(1);

let currentData = computed(() => dataList.value[current.value]);

const choose = (k) => {
  current.value = k;
  styleOptions.transform = `translateX(-${k * lW}px)`;
  carousel.value.setActiveItem(k);
};
// 原始代码
onActivated(() => {
  // alert(1)
});
const load = () => {};
</script>

<style lang="scss" scoped>
.panel3 {
  width: 100%;
  height: 50vw;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 3vw;
  overflow: hidden;
  position: relative;

  .panel_top {
    font-family: Source Han Sans CN;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.03);
    // opacity: 0.03;
    font-size: 100px;
    text-align: center;
    position: relative;
    .panel_title {
      position: absolute;
      font-size: 52px;
      font-weight: bold;
      color: #ffffff;
      width: 100%;
      text-align: center;
      bottom: -10px;
      left: 0;
      z-index: 1;
    }
  }
  .panel_content {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 9vw;
    width: 100%;
    height: 20vw;
    align-items: flex-end;
    // background-color: #ddd;
    .bannersBox {
      width: 100%;
      height: 100%;
      justify-content: center;

      .year {
        margin: 0 64px;
        font-size: 80px;
        font-weight: 600;
        background-image: -webkit-linear-gradient(bottom, rgb(0, 162, 255), rgb(246, 248, 255)); //开始方向，渐变颜色
        -webkit-background-clip: text; //以盒子内的文字作为裁剪区域向外裁剪，文字之外的区域都将被裁剪掉。
        -webkit-text-fill-color: transparent; //把文字变透明
      }
      .bannerContent {
        width: 40%;
        height: 200px;
        // background-color: red;
        color: #fff;
        margin-right: -15px;
        overflow: hidden;

        .cells {
          position: relative;
          line-height: 2.6;
          text-indent: 20px;
          font-size: 20px;
          font-family: Source Han Sans CN;
          font-weight: bold;
          color: #fffefe;
          text-align: left;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 23px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: rgba(0, 112, 255, 1);
          }
        }
      }
      // background: red;
    }
  }

  .panel_footer {
    // overflow-x: hidden;
    // background-color: red;
    width: 100%;
    height: 320px;
    overflow: hidden;
    .px_scrollBar {
      height: 120px;
      margin-left: calc(50% - 78px);
      transition: all 0.4s ease-in-out;
    }
    .px_timerXbox {
      width: 156px; /*no*/
      height: 100%;
      border-bottom: 3px solid rgba(37, 73, 182, 0.8);
      position: relative;
      .labels {
        text-align: center;
        position: absolute;
        left: 0;
        bottom: -50px;
        width: 100%;
        font-size: 20px;
        font-family: Source Han Sans CN;
        font-weight: bold;
        color: #585fc0;
      }
      .labelsActive {
        color: #fff !important;
      }
      .icons {
        position: absolute;
        width: 44px;
        height: 44px;
        left: 50%;
        margin-left: -22px;
        bottom: -25px;
        z-index: 1;
        opacity: 0.8;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          // transform: scale(2);
          filter: brightness(1.4);
        }
      }
      .activeIcons {
        position: absolute;
        z-index: 1;
        width: 60px;
        left: 50%;
        margin-left: -30px;
        bottom: -34px;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-fill-mode: backwards;
        animation-duration: 1.4s;
      }
    }
  }

  .huans {
    position: absolute;
    bottom: -30px;
    .dots {
      position: absolute;
      background: rgb(45, 182, 255);
      border-radius: 50%;
      transform: scale(1.3);
      filter: brightness(2);
    }
  }
  .huan1 {
    border: 1px solid rgb(157, 221, 255);
    border-bottom: 0;
    border-top: 0;
    border-radius: 50%;
    width: 80vw;
    height: 80vw;
    left: 50%;
    margin-left: -40vw;
    bottom: -48vw;
    border-radius: 50%;
    animation: rotate 4s linear infinite;
    .dot1 {
      width: 8px;
      height: 8px;
      left: -4px;
      top: 50%;
    }
    .dot2 {
      width: 4px;
      height: 4px;
      left: 50%;
      top: -2px;
    }
    .dot3 {
      width: 8px;
      height: 8px;
      right: -4px;
      top: 50%;
    }
    .dot4 {
      width: 4px;
      height: 4px;
      left: 50%;
      bottom: -2px;
    }
  }
  .huan2 {
    border: 0.0625rem solid rgb(164, 223, 255);
    border-left: 0;
    border-bottom: 50%;
    border-radius: 50%;
    width: 60vw;
    height: 60vw;
    left: 50%;
    margin-left: -30vw;
    bottom: -36vw;
    animation: rotate 3s ease-out infinite;
    .dot1 {
      width: 8px;
      height: 8px;
      left: -4px;
      top: 50%;
    }
    .dot2 {
      width: 4px;
      height: 4px;
      left: 50%;
      top: -2px;
    }
    .dot3 {
      width: 8px;
      height: 8px;
      right: -4px;
      top: 50%;
    }
    .dot4 {
      width: 4px;
      height: 4px;
      left: 50%;
      bottom: -2px;
    }
  }
}

.panel3.mobile {
  height: auto;
  .panel_top{
    color: rgba(0, 112, 255, .5)!important;
  }
  .cm_container {
    padding: 28px;

    .panel_content {
      margin-top: 16vw;
      width: 100%;
      height: 28vw;
      align-items: flex-end;
      // background-color: #ddd;
      .bannersBox {
        width: 100%;
        height: 100%;
        justify-content: center;

        .year {
          margin: 0 40px;
          font-size: 34px;
          font-weight: bold;
          color: #ffffff !important;
          background-image: -webkit-linear-gradient(bottom, #fff, #fff); //开始方向，渐变颜色
          -webkit-background-clip: text; //以盒子内的文字作为裁剪区域向外裁剪，文字之外的区域都将被裁剪掉。
          -webkit-text-fill-color: transparent; //把文字变透明
        }
        .bannerContent {
          flex: 1;
          height: 100%;
          // background-color: red;
          color: #fff;
          margin-right: -15px;
          overflow: hidden;

          .cells {
            font-size: 20px;
            font-weight: bold;
            color: #ffffff;
            text-align: left;
            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 23px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: rgba(0, 112, 255, 1);
            }
          }
        }
        // background: red;
      }
    }

    .panel_footer {
      // overflow-x: hidden;
      // background-color: red;
      width: 100%;
      overflow: hidden;
      height: 260px;
      .px_scrollBar {
        height: 90px;
        margin-left: calc(50% - 40px);
        transition: all 0.4s ease-in-out;
      }
      .px_timerXbox {
        width: 156px; /*no*/
        height: 100%;
        border-bottom: 2px solid rgba(37, 73, 182, 1);
        position: relative;
        .labels {
          bottom: -34px;
          font-size: 14px;
          font-weight: 500;
          color: #585fc0;
        }
        .icons {
          position: absolute;
          width: 26px;
          height: 26px;
          left: 50%;
          margin-left: -13px;
          bottom: -15px;
          z-index: 1;
          opacity: 0.8;
          cursor: pointer;
          transition: all 0.5s ease;
          &:hover {
            // transform: scale(2);
            filter: brightness(1.4);
          }
        }
        .activeIcons {
          position: absolute;
          z-index: 1;
          width: 30px;
          left: 50%;
          margin-left: -15px;
          bottom: -16px;
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-fill-mode: backwards;
          animation-duration: 1.4s;
        }
      }
    }


  }
   .huans {
      position: absolute;
      bottom: -30px;

    }
    .huan1 {
      border: 1px solid rgb(157, 221, 255);
      border-bottom: 0;
      border-top: 0;
      border-radius: 50%;
      width: 160vw;
      height: 160vw;
      left: 50%;
      margin-left: -80vw;
      bottom: -82vw;
      border-radius: 50%;
      animation: rotate 4s linear infinite;
      // background: red;
      .dot1 {
        width: 8px;
        height: 8px;
        left: -4px;
        top: 50%;
      }
      .dot2 {
        width: 4px;
        height: 4px;
        left: 50%;
        top: -2px;
      }
      .dot3 {
        width: 8px;
        height: 8px;
        right: -4px;
        top: 50%;
      }
      .dot4 {
        width: 4px;
        height: 4px;
        left: 50%;
        bottom: -2px;
      }
    }
    .huan2 {
        border: 1px solid rgb(157, 221, 255);
      border-left: 0;
      border-bottom: 50%;
      border-radius: 50%;
      width: 160vw;
      height: 160vw;
      left: 50%;
      margin-left: -80vw;
      bottom: -100vw;
      animation: rotate 3s ease-out infinite;
      .dot1 {
        width: 8px;
        height: 8px;
        left: -4px;
        top: 50%;
      }
      .dot2 {
        width: 4px;
        height: 4px;
        left: 50%;
        top: -2px;
      }
      .dot3 {
        width: 8px;
        height: 8px;
        right: -4px;
        top: 50%;
      }
      .dot4 {
        width: 4px;
        height: 4px;
        left: 50%;
        bottom: -2px;
      }
    }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 1260px) and (max-width: 1560px) {
  .panel_content {
    margin-top: 6vw !important;
  }
}
</style>
