<!--
 * @Author: loserjohn
 * @Date: 2022-04-01 10:18:02
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-11 15:21:14
 * @Description: ---
 * @FilePath     : \vite_v3\src\views\home\Panel1.vue
-->
<template>
  <!-- 企业文化 -->
  <div
    id="panel1" ref=""
    :style="panelStyle"
    :class="ifMobile?'panel1 mobile':'panel1'"
  >
    <!-- m -->
    <div v-if="ifMobile" class="cm_container">
      <div class="panel_top">
        corporate culture
        <h3 class="panel_title animated fadeInLeft">
          企业文化
        </h3>
      </div>

      <div class="panel_content  animated fadeInRight">
        <div class="bars ">
          <h4 class="animate pulse infinite">
            使命
          </h4>
          <p>流量向善流量向善流量向善流量向善流量向善流量向善</p>
          <aside class="line" />
        </div>
        <div class="bars  ">
          <h4 class="animate pulse infinite">
            使命
          </h4>
          <p>流量向善流量向善流量向善流量向善流量向善流量向善</p>
          <aside class="line" />
        </div>
        <div class="bars  ">
          <h4 class="animate pulse infinite">
            使命
          </h4>
          <p>流量向善流量向善流量向善流量向善流量向善流量向善</p>
          <aside class="line" />
        </div>
      </div>
    </div>
    <!-- pc -->
    <div v-else class="cm_container">
      <div class="panel_top">
        corporate culture
        <h3 class="panel_title animated fadeInLeft">
          企业文化
        </h3>
      </div>

      <div class="panel_content flex animated fadeInUp">
        <div class="bars ">
          <h4 class="animate pulse infinite">
            使命
          </h4>
          <p>流量向善流量向善流量向善流量向善流量向善流量向善</p>
          <aside class="line" />
        </div>
        <div class="bars  ">
          <h4 class="animate pulse infinite">
            使命
          </h4>
          <p>流量向善流量向善流量向善流量向善流量向善流量向善</p>
          <aside class="line" />
        </div>
        <div class="bars  ">
          <h4 class="animate pulse infinite">
            使命
          </h4>
          <p>流量向善流量向善流量向善流量向善流量向善流量向善</p>
          <aside class="line" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Panel1Com'
};
</script>
<script setup>
import useCommon from '@/hooks/common';
import { onActivated, onMounted, reactive, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
const { ifMobile } = useCommon();

const panelStyle = reactive({
  'background-image': 'url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farticle%2F9e3d53f7bc214a4191d4f5dbf08545be810de890.jpg&refer=http%3A%2F%2Fi0.hdslb.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1654845676&t=66db8f20ab55fd6419632a3ade454aee)',
  'background-attachment': ifMobile.value ? 'none' : 'fixed'
});

let active = ref(1);

let height = ref(0);
onMounted(() => {
  //


});
// 原始代码
onActivated(() => {
  // alert(1)
});

</script>

<style lang="scss" scoped>


  .panel1 {
    width: 100%;
    height: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 3vw;
    overflow: hidden;

    .panel_top {
      font-family: Source Han Sans CN;
      font-weight: 800;
      color: rgba(255, 255, 255, 0.03);
      // opacity: 0.03;
      font-size: 80px;
      text-align: center;
      position: relative;
      .panel_title {
        position: absolute;
        font-size: 52px;
        font-weight: bold;
        color: #ffffff;
        width: 100%;
        text-align: center;
        bottom: -10px;
        left: 0;
        z-index: 1;
      }
    }
    .panel_content {
      justify-content: space-around;
      margin-top: 7vw;
      width: 100%;
      .bars {
        height: 551px;
        width: 370px;
        background-image: linear-gradient(
          to bottom,
          rgba(0, 94, 218, 0.3),
          rgba(0, 112, 255, 0)
        );
        cursor: pointer;
        position: relative;
        transition: all 0.3s ease-in-out;
        color: #fff;
        text-align: center;
        padding: 0 50px;
        .line {
          width: 6px;
          background: linear-gradient(
            to bottom,
            #0070FF,
            rgba(0, 112, 255, 0)
          );
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          transition: all 0.3s ease-in-out;
        }


        h4 {
          font-size: 30px;
          font-weight: bold;
          color: #ffffff;
          padding:  78px 0 51px 0;
        }
        p {
          font-size: 24px;
          font-weight: 500;
          color: #fff7fe;
          line-height: 2;
        }
         &:hover {
          transform: translateY(-40px);
          filter: brightness(1.4);
          .line {
            // background: linear-gradient(to bottom,   rgb(22, 193, 236),
            // rgba(0, 112, 255, 0 ));
              filter: brightness(2);
            }
        }
      }
    }
  }
  .panel1.mobile{
    height: auto;
    .cm_container{
      padding: 28px;
      .bars{
        width: 100%;
        height: 172px;
        margin-bottom: 52px;
        text-align: left;
          background-image: linear-gradient(
          to right,
          rgba(0, 94, 218, 0.3),
          rgba(0, 112, 255, 0)
        );
        h4 {
          font-size: 30px;
          font-weight: bold;
          color: #ffffff;
          padding:  43px 0 29px 0;
        }
        p {
          font-size: 24px;
          font-weight: 500;
          color: #fff7fe;
          line-height: 2;
        }
        &:hover {
           transform:none;
          filter: brightness(1.4);
        }
      }
    }
  }
</style>
