<!--
 * @Author: loserjohn
 * @Date: 2022-04-01 10:18:02
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-11 14:41:16
 * @Description: ---
 * @FilePath     : \vite_v3\src\views\home\Panel2.vue
-->
<template>
  <!--  公司简介 -->
  <div
    id="panel2" ref="" class="panel animated fadeIn"
    :style="panelStyle"
    :class="ifMobile?'mobile panel2':'panel2'"
  >
    <!-- m -->
    <div v-if="ifMobile" class="cm_container">
      <div class="panel_top">
        COMPANY PROFILE
        <h3 class="panel_title animated " :class="visible?'fadeInLeft':'fadeOutLeft'">
          公司简介
        </h3>
      </div>

      <div class="panel_content  ">
        <img
          src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F0114195939107ca8012193a302811b.jpg&refer=http%3A%2F%2Fimg.zcool.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1654676197&t=7e0e0fba9edccff0c3640f95c7dd45bb" class="rightPic animated  " :class="visible?'fadeInRight':'fadeOutRight'"
          alt=""
        >
        <div class="left  animated " :class="visible?'fadeInLeft':'fadeOutLeft'">
          福建游龙网络科技有限公司（以下简称“公司”）成立于2012年5月 总部坐落于福州市橘园创意广场。公司长期专注于网络游戏分发与运 营，致力于为用户提供值得信赖的服务，广泛布局社交推广流量矩阵 持续推动行业变革与商业创新，助力行业成长迭代，是国内领先的流 量运营服务商。
        </div>
      </div>
    </div>
    <!-- pc -->
    <div v-else class="cm_container">
      <div class="panel_top">
        COMPANY PROFILE
        <h3 class="panel_title animated " :class="visible?'fadeInLeft':'fadeOutLeft'">
          公司简介
        </h3>
      </div>

      <div class="panel_content flex">
        <div class="left  animated " :class="visible?'fadeInLeft':'fadeOutLeft'">
          福建游龙网络科技有限公司（以下简称“公司”）成立于2012年5月 总部坐落于福州市橘园创意广场。公司长期专注于网络游戏分发与运 营，致力于为用户提供值得信赖的服务，广泛布局社交推广流量矩阵 持续推动行业变革与商业创新，助力行业成长迭代，是国内领先的流 量运营服务商。
        </div>

        <img
          src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F0114195939107ca8012193a302811b.jpg&refer=http%3A%2F%2Fimg.zcool.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1654676197&t=7e0e0fba9edccff0c3640f95c7dd45bb" class="rightPic animated  " :class="visible?'fadeInRight':'fadeOutRight'"
          alt=""
        >
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Panel2Com'
};
</script>
<script setup>
import useCommon from '@/hooks/common';
import { onActivated, onMounted, reactive, ref, defineProps, computed} from 'vue';
import { useRoute, useRouter } from 'vue-router';
const { ifMobile} = useCommon();
const router = useRouter();
const route = useRoute();
const panelStyle = reactive({
  'background-image': 'url(https://img1.baidu.com/it/u=1877235717,2773290526&fm=253&fmt=auto&app=138&f=JPEG?w=658&h=225)'
});
const props = defineProps({
  scrollTop: {
    type: Number,
    default: 0
  }
});
let height = ref(0);
onMounted(() => {
  //
  height.value = document.querySelector('#panel2').offsetTop;
  console.log(111, height);

});
const visible = computed(() => !!(height.value && props.scrollTop > (height.value - 300)));

let active = ref(1);
// 原始代码
onActivated(() => {
  // alert(1)
});

</script>

<style lang="scss" scoped>


  .panel2 {
     width: 100%;
    height: 42vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 3vw;
    overflow: hidden;
    .panel_top {
      font-family: Source Han Sans CN;
      font-weight: 800;
      color: rgba(212, 230, 255, .4);
      // opacity: 0.03;
        font-size: 80px;
      text-align: center;
      position: relative;
      .panel_title {
        position: absolute;
        font-size: 52px;
        font-weight: bold;
        color: #333;
        width: 100%;
        text-align: center;
        bottom: -10px;
        left: 0;
        z-index: 1;
      }
    }
    .panel_content {
      justify-content: space-around;
      margin-top: 7vw;
      width: 100%;
      .left{
        font-size: 20px;
font-weight: 400;
color: #333333;
line-height: 2;
      }
       .rightPic{
         width: 496px ;
         height: 278px;
         margin-left: 103px;
       }
    }
  }


   .mobile{
    height: auto;
    font-size: 20px;
    .cm_container{
      padding: 28px;
       padding-bottom: 141px;
      .panel_content{
        .rightPic{
          width: 100%;
          height: 369px;
          margin-bottom: 70px;
          margin-left: 0;
        }
        .left{
          font-size: 20px;
          font-weight: 500;
          color: #333333;
          text-align: left;
        }
      }
    }
  }
</style>
