<!--
 * @Author: loserjohn
 * @Date: 2022-05-08 22:03:16
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-05-11 23:32:53
 * @Description: ---
 * @FilePath: \vite_v3\src\App.vue
-->

<template>
  <div class="loading flex_y animated" :class="load ? '' : 'fadeOut none'">
    <div class="px_loadingIcon loader" />
  </div>
  <div class="page">
    <!-- 导航 -->
    <el-affix :offset="92" :z-index="200">
      <Header />
    </el-affix>
    <!-- 轮播图 -->
    <div v-if="!ifMobile || (ifMobile && route.name != 'JoinDetail' && route.name != 'NewsDetail')">
      <Banner />
    </div>

    <!-- 锚点 -->
    <el-affix v-if="route.name === 'Home'" :offset="ifMobile ? 44 : 88" :z-index="100">
      <div style="background: #fff; width: 100%">
        <div class="cm_container" :class="ifMobile ? 'mobile' : ''">
          <div class="tabs flex">
            <div class="menus" :class="active == 1 ? 'active' : 'hvr-float'" @click="goAnchor('#panel1')">企业文化</div>
            <div class="menus" :class="active == 2 ? 'active' : 'hvr-float'" @click="goAnchor('#panel2')">公司简介</div>
            <div class="menus" :class="active == 3 ? 'active' : 'hvr-float'" @click="goAnchor('#panel3')">发展历程</div>
            <div class="menus" :class="active == 4 ? 'active' : 'hvr-float'" @click="goAnchor('#panel4')">企业荣誉</div>
          </div>
        </div>
      </div>
    </el-affix>

    <!-- 页面部分 -->
    <div class="content">
      <div class="container">
        <transition name="custom-classes-transition" :duration="{ enter: 300, leave: 100 }" mode="out-in" enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
          <router-view v-slot="{ Component }">
            <keep-alive>
              <component :is="Component" class="view" />
            </keep-alive>
          </router-view>
        </transition>
      </div>
    </div>

    <!-- 尾巴 -->
    <Footer />
  </div>
</template>
<script setup>
import { onMounted, reactive, ref, provide } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import Header from '@/components/Header';
import Footer from '@/components/Footer';
import Banner from '@/components/Banner';
const route = useRoute();
let active = ref(1);
let load = ref(true);
let ifMobile = ref(false);
onMounted(() => {
  if (window.innerWidth < 960) {
    ifMobile.value = true;
  }
  setTimeout(() => {
    load.value = false;
  }, 2000);
});
const goAnchor = (selector) => {
  document.querySelector(selector).scrollIntoView({ behavior: 'smooth', block: 'center', inline: 'nearest' });
};
provide('ifMobile', ifMobile);
</script>

<style lang="scss">
@import './styles/reset.css';
@import './styles/common.scss';
@import './styles/animate.css';
@import './styles/btns.css';

.loading {
  background: linear-gradient(45deg, #ffffff 10%, #e1e1e1 50%, #ffffff 90%);
  overflow: hidden;

  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
}
.none {
  pointer-events: none;
}
.loader {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;

  &:before,
  &:after {
    content: '';
    height: 40px;
    width: 40px;
    border: 8px solid rgba(149, 149, 149, 0.5);
    border-radius: 10px;
    position: absolute;
    top: 0;
  }

  &:before {
    animation: animate 2s infinite linear;
  }

  &:after {
    animation: animate2 2s infinite linear;
  }
}

@keyframes animate {
  100% {
    transform: rotate(180deg) skew(360deg);
  }
}

@keyframes animate2 {
  100% {
    transform: rotate(-180deg) skew(-360deg);
  }
}

// .loading {
//   width: 100vw;
//   height: 100vh;
//   position: fixed;
//   z-index: 2000;
//   left: 0;
//   top: 0;
//   background: #fff;

//   .px_loadingIcon {
//     width: 50px;
//     height: 50px;
//   }
// }
.page {
  padding-top: 92px;

  .tabs {
    height: 70px;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    .menus {
      width: 118px;
      height: 70px;
      line-height: 70px;
      position: relative;
      text-align: center;
      cursor: pointer;
      font-weight: 500;
      font-size: 20px;
    }
    .active {
      color: var(--primary);
      z-index: 10;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background: var(--primary);
        bottom: 0;
        left: 0;
      }
    }
  }
}
.mobile {
  .tabs {
    padding: 0 27px;
    background-color: #fff;
    height: 100px;
    z-index: 100;
    .menus {
      height: 100px;
      line-height: 100px;
      font-size: 28px;
    }
    .active {
      &::before {
        content: '';
        height: 8px;
      }
    }
  }
}
#app {
  width: 100%;
  overflow: hidden;
}
</style>
