<!--
 * @Author       : xh
 * @Date         : 2022-05-09 10:20:07
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-11 10:02:18
 * @FilePath     : \vite_v3\src\components\Banner\index.vue
-->

<template>
  <div class="animated fadeIn">
    <el-carousel :height="ifMobile ? '35vw' : '21vw'" :autoplay="true">
      <el-carousel-item v-for="item in list" :key="item">
        <img :src="item" class="banners" alt="">
      </el-carousel-item>
    </el-carousel>
  </div>
</template>
<script setup>
import { ref } from 'vue';
import useCommon from '@/hooks/common';
const { ifMobile, router, route } = useCommon();
defineProps({
  msg: String
});

const list = ref([
  'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01d56b5542d8bc0000019ae98da289.jpg%401280w_1l_2o_100sh.jpg&refer=http%3A%2F%2Fimg.zcool.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1654667400&t=1590481898524617d900ad7f5fd95b0a',
  'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01d56b5542d8bc0000019ae98da289.jpg%401280w_1l_2o_100sh.jpg&refer=http%3A%2F%2Fimg.zcool.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1654667400&t=1590481898524617d900ad7f5fd95b0a',
  'https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01d56b5542d8bc0000019ae98da289.jpg%401280w_1l_2o_100sh.jpg&refer=http%3A%2F%2Fimg.zcool.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1654667400&t=1590481898524617d900ad7f5fd95b0a'
]);

const count = ref(0);
</script>
<style scoped lang="scss">
.banners {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
}


</style>
